// Variables
$primary-color: #70b7b1; // Soft teal
$secondary-color: #f5e1ca; // Warm beige
$accent-color: #de6e4b; // Warm coral
$dark-color: #333333;
$light-color: #f8f8f8;
$text-color: #333333;
$text-light: #767676;
$border-color: #e0e0e0;

$font-primary: "Nunito", sans-serif;
$border-radius: 8px;
$transition-speed: 0.3s;